# Carpetas específicas
bin/
obj/
publish/
logs/

# Archivos específicos
*.exe
*.dll
*.pdb
*.user
*.log
*.bin
*.cache
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.lib
*.sbr
*.scc
*.snk
*.swp
*.suo
*.tmp
*.docstates
*.dotCover
*.csproj.user
*.resharper
*.resharper.user
*.rsuite
*.rproj
*.csproj
*.json